<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextRoller/Analyse the Text</title>
</head>
<body>
    <center><h1 style="color:black; font-size:40px;margin-top:180px;">Welcome to <span style="color:RED;font-size:50px">TextRoller</span> </h1></center>
    <center><h3 style="color:black; font-size:30px;margin-top:10px;"> After Doing - {{Purpose}}</h3></center>
    <center><h6 style="color:black; font-size:20px;margin-top:10px;"><span style="color:black;">Your Analysed Text </span> <pre>{{Analysed_Text}}</pre></h6></center>
</body>
</html>